@tailwind base;
@tailwind components;
@tailwind utilities;

.mat-mdc-form-field-error-wrapper {
  padding: 0px !important;
}
//

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f8fdf2 !important;
}

.mat-mdc-form-field-hint-wrapper {
  padding: 0px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
