<div class="m-6">
  <div class="flex flex-row">
    <div class="h-20 w-20 overflow-hidden rounded-full">
      <img
        class="h-full w-full cursor-pointer rounded-full"
        [src]="user?.image"
        [alt]="user?.username"
        (click)="this.fileUploader.toggleUploadDiv()"
      />
    </div>
    <div class="ml-4 mt-4 flex flex-col">
      <h1 class="!m-0 font-bold">
        {{ user?.name }}
      </h1>
      <p class="text-xs text-neutral-600">
        &#64;{{ user?.username }} | {{ user?.email }}
      </p>
    </div>
  </div>
  <div>
    <app-file-upload (fileSelected)="uploadImage($event)" />
  </div>
  <div class="mb-2 mt-6">
    <app-bio [control]="form.controls['bio']" />
  </div>
  <div class="mt-8 flex justify-end gap-3">
    <button mat-raised-button (click)="closeModal()">Close</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      Save
    </button>
  </div>
</div>
