<mat-form-field class="mb-1 mt-1 w-full" appearance="fill">
  <mat-label>Password</mat-label>
  <input
    matInput
    type="password"
    [formControl]="control"
    autocomplete="new-password"
  />

  <mat-error *ngIf="control?.hasError('required')">
    Password is required
  </mat-error>
  <mat-error *ngIf="control?.hasError('minlength')">
    Password must be at least 8 characters
  </mat-error>
  <mat-error *ngIf="control?.hasError('pattern')">
    Password must contain at least one uppercase letter, one lowercase letter,
    and one number
  </mat-error>
</mat-form-field>
