<div class="mt-2 flex w-full flex-row justify-between px-4 md:px-16">
  <p
    class="!mt-2 cursor-pointer text-2xl font-bold text-primary"
    routerLink="/"
  >
    Conduit
  </p>
  <div class="mt-2" *ngIf="!user || user == null">
    <ng-template
      [ngTemplateOutlet]="headerBtn"
      [ngTemplateOutletContext]="{
        name: 'Login',
        link: 'auth/login'
      }"
    />
    <ng-template
      [ngTemplateOutlet]="headerBtn"
      [ngTemplateOutletContext]="{
        name: 'Register',
        link: 'auth/register'
      }"
    />
  </div>
  <div *ngIf="user">
    <div class="flex flex-row">
      <img
        class="h-10 w-10 rounded-full border-[1px] border-gray-700 hover:cursor-pointer"
        [src]="user.image"
        [alt]="user.username"
      />
      <a
        class="font-neutral-300 mx-3 mt-1 cursor-pointer text-lg duration-500 hover:text-primary"
        (click)="userService.logout()"
      >
        Logout
      </a>
    </div>
  </div>
</div>

<ng-template let-name="name" let-link="link" #headerBtn>
  <a
    class="font-neutral-300 mx-3 text-lg hover:text-neutral-500"
    [routerLink]="[link]"
    routerLinkActive="text-green-500"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    {{ name }}
  </a>
</ng-template>
<app-banner />
