<div class="mx-auto flex max-w-md flex-col">
  <h1>Login</h1>
  <p>
    Don't have an account?
    <span
      class="cursor-pointer font-medium text-blue-500"
      [routerLink]="['/auth/register']"
    >
      Register</span
    >
  </p>
  <form [formGroup]="form" class="mb-5 flex flex-col">
    <app-email [control]="form.controls['email']" />
    <app-password [control]="form.controls['password']" [label]="'Password'" />
    <app-login-register-button
      [label]="'Login'"
      (click)="handleSubmit()"
      [loading]="loading"
      class="mt-10"
    />
  </form>
</div>
