<div>
  <div
    class="mt-3 h-24 cursor-pointer rounded-sm border-[2px] border-dotted border-neutral-300 bg-[#f8f6f6]"
    *ngIf="showUploadDiv"
    [@slide]
    appDragDrop
    (fileDropped)="onFileChange($event)"
  >
    <!-- Set as text to avoid opening browser when uploading -->
    <input
      type="file"
      (change)="onFileChange($event)"
      accept=".jpeg, .jpg, .png"
      class="absolute h-48 border-2 border-red-500 opacity-0"
    />
    <ng-container>
      <div class="mt-[24px] flex flex-col items-center justify-center">
        <div>
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <p><span class="font-bold">Choose a file</span> or drag it here</p>
        </div>
      </div></ng-container
    >
  </div>
  <div *ngIf="FILE_ERROR_MESSAGE">
    <p class="!ml-1 !mt-1 text-sm text-red-500">
      {{ FILE_ERROR_MESSAGE }}
    </p>
  </div>
</div>
